<div class="page-heading">
  <h2>Devices</h2>      
</div>  

<% if(devices.length) { %>

  <table class="table table-hover table-bordered">
    <thead>
      <th><%= Object.keys(devices[0])[1] %></th>
      <th><%= Object.keys(devices[0])[0] %></th>
    </thead>
    <tbody>
      <% for(var i = 0; i < devices.length; i++) { %>
        <tr>
          <td><%= devices[i].id %></td>
          <td><%= devices[i].name %></td>
        </tr>
      <% } %>
    </tbody>
  </table>

  <ul class="pager">  
    <li class="previous <%= previousButtonClass %>"><a href="/device/index?page=<%= currentPage - 1 %>">&larr; Previous</a></li>
    <li class="next <%= nextButtonClass %>"><a href="/device/index?page=<%= currentPage + 1 %>">Next &rarr;</a></li>
  </ul>

<% } else { %>

  <p class="not-available">No devices found<p>

<% } %>
  
