<% var message = req.flash('message'); %>
<% if(message.length) { %>

  <div class="flash-message alert alert-success">
    <span><%= message %></span>
  </div>

<% } %>

<div class="page-heading">
  <h2><%= __("scripts")["index"]["page-title"] %></h2>      
</div>  

<% if(scripts.length) { %>

   <% var confirmText = __('scripts')['index']['rerun-confirm'] %>

  <table class="table table-hover table-bordered script-list">
    <thead>
      <% titles = __("scripts")["index"]["column-titles"].split(", ") %>
      <% for(var i in titles) { %>
        <th><%= titles[i] %></th>
      <% } %>
    </thead>
    <tbody>
      <% for(var i = 0; i < scripts.length; i++) { %>
        <tr id="<%= scripts[i].id %>">
          <td><%= scripts[i].id %></td>
          <td><%= scripts[i].name %></td>
          <td><%= scripts[i].device.name %></td>
          <td class="script-status"><%= scripts[i].status %></td>
          <td><%= scripts[i].createdAt.toDateString() %></td>
          <td>
            <a href="/script/show?id=<%= scripts[i].id %>" class="btn btn-sm btn-info btn-action">View Output</a>
            <form action="/script/create" method="post" accept-charset="utf-8" onsubmit='return confirm("<%= confirmText %>");'>
              <input type="text" name="device" class="hidden-field" value=<%= scripts[i].device.id %> />
              <input type="text" name="name" class="hidden-field" value=<%= scripts[i].name %> />
              <input type="text" name="content" class="hidden-field" value=<%= scripts[i].content %> />
              <input type="submit" class="btn btn-sm btn-info btn-action" value="Rerun Script" />
            </form>     
          </td>
        </tr>
      <% } %>
    </tbody>
  </table>

  <ul class="pager">  
    <li class="previous <%= previousButtonClass %>"><a href="/script?page=<%= currentPage - 1 %>">&larr; Previous</a></li>
    <li class="next <%= nextButtonClass %>"><a href="/script?page=<%= currentPage + 1 %>">Next &rarr;</a></li>
  </ul>

<% } else { %>

  <p class="not-available"><%= __("scripts")["index"]["not-available"] %><p>

<% } %>
  
