<div class="page-heading">
  <h2><%= __("scripts")["show"]["page-title"] %></h2>      
</div>  

<% if(script) { %>

<table class="table table-striped script-data">
  <tbody>
    <tr>
      <td><%= __("scripts")["show"]["labels"]["device-name"] %><td>
      <td><%= script.device.name %><td>
    </tr>
    <tr>
      <td><%= __("scripts")["show"]["labels"]["script-name"] %><td>
      <td><%= script.name %><td>
    </tr>
    <tr>
      <td><%= __("scripts")["show"]["labels"]["script-id"] %><td>
      <td><%= script.id %><td>
    </tr>
    <tr>
      <td><%= __("scripts")["show"]["labels"]["status"] %><td>
      <td class="script-status"><%= script.status %><td>
    </tr>
    <tr>
      <td><%= __("scripts")["show"]["labels"]["output"] %><td>
      <td class="script-output">
        <% if(script.output) { %>
          <pre class="code"><%= script.output %></pre>
        <% } else { %>
          No Output
        <% } %>
      <td>
    </tr>
  <tbody>
</table>

<% } else { %>

  <p class="not-available"><%= __("scripts")["show"]["not-available"] %><p>

<% } %>
